.py-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    min-height: 200px;
    background-color: #1f2937;
    border-color: #1f2937;
    border-style: solid;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
}

.w-1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.h {
    color: #FFF;
    font-family: Fira Code;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    list-style: none;
    margin: 10px 0px 10px 10px;
}

.h-1{
    width: 100%;
    height: 100%;
    color: #1B7CFF;
    font-family: Fira Code;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    list-style: none;
    margin: 10px 0px 10px 10px;
}

.form-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-text{
    display: flex;
    flex-direction: column;
}

.ms-3 {
    margin: 20px 0px 20px 0px;
    background-color: #1B7CFF;
    color: #FFF;
    width: 150px;
    border-radius: 5px;
}
.block {
    resize: none;
}

.p-1{
    color: #FFF;
    font-family: Fira Code;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    list-style: none;
    margin: 10px 0px 10px 10px;
}

.b-2{
    background-color: #1f2937;
}

.button-space{
    margin: 10px 0px 10px 10px;
}

.c {
    margin: 10px 0px 20px 0px;
}

.c-1{
    border-style: solid;
    border-color: #374151;
    background-color: #101827;
    border-width: 1px;
    border-radius: 5px;
    font-family: Fira Code;
    padding: 5px 5px 5px 5px;
}

.c-2 {
    width: auto;
    color: #FFF;
}

.c-profile {
    color: #1B7CFF;
}

.c-span {
    font-size: 10px;
}