.mb-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-title h1 {
    color: #FFF;
    text-align: center;
    font-family: League Gothic;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px; 
    margin: 0 0 0 0;
}

.login-title img {
    width: 120px;
    height: 120px;
}

.login-box {
    padding: 20px 20px 20px 20px;
    background-color: #1E1E1E; 
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 50px;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
